:root { 
--white_A700_7f:#ffffff7f; 
--bluegray_50:#f1f1f1; 
--green_902:#0b582e; 
--green_901:#0b5f2b; 
--green_900:#165032; 
--black_900_3f:#0000003f; 
--green_A700:#0ca850; 
--yellow_A400:#fae013; 
--green_A701:#0fa958; 
--teal_901:#095a31; 
--teal_900:#06592c; 
--light_blue_A700:#0075ff; 
--gray_600:#7a7a7a; 
--gray_601:#6f6f6f; 
--gray_400:#c3c4c4; 
--gray_401:#c0c8ce; 
--gray_602:#707070; 
--green_900_7f:#0074207f; 
--amber_A400_75:#fbbf0075; 
--green_932:#0a831d; 
--gray_200:#eaeaea; 
--green_931:#165231; 
--green_930:#0f6b35; 
--green_929:#0a6634; 
--bluegray_401:#8d8a8a; 
--green_928:#165132; 
--bluegray_400:#8a8a8a; 
--green_927:#0a7e1a; 
--green_926:#0f6836; 
--green_805:#127b2b; 
--green_804:#098029; 
--green_925:#0a831e; 
--white_A700:#ffffff; 
--gray_919:#141620; 
--green_803:#078c14; 
--green_924:#0b5d2c; 
--green_802:#088e1c; 
--green_801:#0a891b; 
--green_800:#068f13; 
--green_600:#3bb919; 
--gray_50:#fafafa; 
--amber_A400:#fbc002; 
--black_900:#000000; 
--teal_800:#107a47; 
--teal_802:#0e7141; 
--teal_801:#107a49; 
--black_900_26:#00000026; 
--amber_600_87:#efb60087; 
--gray_700:#666666; 
--gray_500:#929292; 
--gray_901:#141515; 
--gray_902:#021041; 
--amber_600:#efb600; 
--gray_900:#171717; 
--bluegray_100:#d9d9d9; 
--gray_300:#e5e5e5; 
--white_A700_87:#ffffff87; 
--amber_600_7f:#efb6007f; 
--green_908:#0b7c1d; 
--green_907:#03850f; 
--black_900_33:#00000033; 
--green_906:#0b6828; 
--green_905:#0b592e; 
--green_904:#0a841d; 
--green_903:#0b592d; 
--bluegray_101:#cccccc; 
}